[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv.git
	branch = 1019e4537fc1bfc6ee505cd1c628b645c7e966b7
[submodule "third_party/libwebm/source"]
	path = third_party/libwebm/source
	url = https://chromium.googlesource.com/webm/libwebm.git
	branch = 75a6d2da8b63e0c446ec0ce1ac942c2962d959d7
[submodule "third_party/opus/src"]
	path = third_party/opus/src
	url = https://chromium.googlesource.com/chromium/deps/opus.git
	branch = cae696156f1e60006e39821e79a1811ae1933c69
